.header {
  padding: 20px 15px 15px;

  .header-link {
    display: table;
    margin: auto;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #001133;
    text-transform: capitalize;
    padding: 20px 10px 40px;

    &:hover {
      color: #00117C;
    }
  }
  .section-divider {
    width: 90%;
    border-top: 1px solid black;
  }
}
