.header {
  padding: 20px 0 15px;

  .title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #001133;
    text-transform: capitalize;
    padding: 20px 0 40px;
  }
  .section-divider {
    width: 90%;
    border-top: 1px solid black;
  }
}
