.back-btn {
  font-weight: 600;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 7px;
  outline: none;
  border: none;
  background: rgb(2, 124, 124);
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  transition: 0.15s ease;

  &:hover {
    background: darken(rgb(2, 124, 124), 5%);
  }
}
